
.h1 {
    color: #fff;
}

.a {
    color: #fff;
    text-decoration: none;
}

.a:hover {
    text-decoration: underline;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 100px;
    width: 100%;
}

.m {
    margin: 0 40px 0 40px;
}

.footer {
    display: flex;
    background: black;
    justify-content: center;
    align-items: center;
    color: white;
    height: 110px;
    margin-bottom: 0px;
}


