
.h1 {
    color: #fff;
}

.a {
    color: #fff;
    text-decoration: none;
}

.a:hover {
    text-decoration: underline;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 100px;
    width: 100%;
}

.item{
    flex-grow:2;
    text-align:right;
}
.m {
    margin: 0 30px 0 30px;
}

.footer {
    display: flex;
    background: black;
    justify-content: center;
    align-items: center;
    color: white;
    height: 110px;
    margin-bottom: 0px;
}


